In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import time
import os

In [2]:
# executable_path = {'executable_path': 'C:\\Users\\Gogster\\Desktop\\Drivers\\chromedriver.exe'}
executable_path = {'executable_path': 'chromedriver.exe'}
# I changed the CHROMEDRIVER!!! as per Ernest
browser = Browser('chrome', **executable_path, headless=False)

# ZIKA Information

In [3]:
urlzika = 'https://www.cdc.gov/zika/reporting/2017-case-counts.html'
browser.visit(urlzika)
htmlzika=browser.html

In [12]:
# browser.visit(url)
zika_soup = bs(browser.html, 'lxml')
# print(zika_soup.prettify())
time.sleep(2)

In [14]:
#scrape table
table_zika= pd.read_html(urlzika)
   #format
df_zika = table_zika[0]
df_zika.columns = ['State', 'Count(w/symptoms)', "%", 'Count(w/o symptoms)','%']

In [15]:
df_zika = df_zika.drop(df_zika.index[[1,0]])

In [16]:
# make a copy and manupilate the copy
new_zika_df = df_zika[['State', 'Count(w/symptoms)','Count(w/o symptoms)']].copy()
new_zika_df.head()

      State Count(w/symptoms) Count(w/o symptoms)
2    States               No.                 No.
3   Alabama                 3                   4
4    Alaska                 2                   0
5   Arizona                 3                   0
6  Arkansas                 0                   0

In [17]:
new_zika_df

,State,Count(w/symptoms),Count(w/o symptoms)
2,States,No.,No.
3,Alabama,3,4
4,Alaska,2,0
5,Arizona,3,0
6,Arkansas,0,0
7,California,49,4
8,Colorado,6,0
9,Connecticut,8,0
10,Delaware,0,0
11,District of Columbia,3,0
12,Floridaâ€¡,110,5
13,Georgia,2,5
14,Hawaii,6,1
15,Idaho,0,0
16,Illinois,7,0
17,Indiana,3,0
18,Iowa,1,0
19,Kansas,2,0
20,Kentucky,2,0
21,Louisiana,1,5
22,Maine,1,0
23,Maryland,11,1
24,Massachusetts,12,0
25,Michigan,7,0
26,Minnesota,8,0
27,Mississippi,2,0
28,Missouri,2,0
29,Montana,0,0
30,Nebraska,2,0
31,Nevada,1,1
32,New Hampshire,0,0
33,New Jersey,12,0
34,New Mexico,0,0
35,New York,64,1
36,North Carolina,8,0
37,North Dakota,0,0
38,Ohio,3,0
39,Oklahoma,1,0
40,Oregon,5,0
41,Pennsylvania,7,1
42,Rhode Island,3,0
43,South Carolina,2,0
44,South Dakota,0,0
45,Tennessee,2,0
46,Texasâ€¡,54,2
47,Utah,4,0
48,Vermont,4,0
49,Virginia,7,0
50,Washington,15,1
51,West Virginia,1,1
52,Wisconsin,4,0
53,Wyoming,2,0
54,NaN,Symptomatic disease cases*(N=666),NaN
55,Territories,No.,No.
56,American Samoa,0,0
57,Puerto Rico,620,6
58,U.S. Virgin Islands,46,0

# Weather for 2015

In [ ]:
# url = 'https://www.usclimatedata.com/climate/los-angeles/california/united-states/usca1339'
# df = pd.read_html(url)

In [ ]:
# url2015='https://www.usclimatedata.com/climate/los-angeles/california/united-states/usca1339/2015/1'

In [ ]:
url2015='https://www.usclimatedata.com/climate/los-angeles/california/united-states/usca1339/2015/1'
url2016='https://www.usclimatedata.com/climate/los-angeles/california/united-states/usca1339/2016/1'
url2017='https://www.usclimatedata.com/climate/los-angeles/california/united-states/usca1339/2017/1'
browser.visit(url2015)
html=browser.html

In [ ]:
# # browser.visit(url)
# soup2015 = bs(browser.html, 'lxml')
# print(soup2015.prettify())
# time.sleep(2)

In [ ]:
# news_title = news_soup.find(class_='content_title', string=True)
# print(news_title)
# time.sleep(2)

In [ ]:
# # news_p = news_soup.find(class_='article_teaser_body', string=True)
# news_p = soup2015.find('td', class_ ='align_right temperature_red')
# # news_p= news_p.get_text
# print(news_p)

In [ ]:
#read first table
df2015 = pd.read_html(url2015)[0]
#read second table
df20151 = pd.read_html(url2015)[1]
#convert tables to pandas dataframes
table_df2015=pd.DataFrame(df2015)
table_df20151=pd.DataFrame(df20151)

In [ ]:
# df

In [ ]:
# df1

In [ ]:
#show first table
# table_df

In [ ]:
#show second table, remove index
table_df20151=table_df20151.drop(table_df20151.index[[0]],axis=1)
# table_df1

In [ ]:
#concatenate both tables horizontally and remove row 4 and 5
result2015 = pd.concat([table_df2015, table_df20151], axis=1, sort=False)
result2015 = result2015.drop(result2015.index[[0,4,5]])
result2015.columns = ['Parameter', 'Jan', "Feb", 'Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
result2015

In [ ]:
result2015 = result2015.rename_axis(None)

In [ ]:
# result2015

In [ ]:
result2015['average'] = result2015.mean(numeric_only=True, axis=1)
# result2015['state']=result2015.
result2015

# Weather 2016

In [ ]:
browser.visit(url2016)
html=browser.html

In [ ]:
#read first table
df2016 = pd.read_html(url2016)[0]
#read second table
df20161 = pd.read_html(url2016)[1]
#convert tables to pandas dataframes
table_df2016=pd.DataFrame(df2016)
table_df20161=pd.DataFrame(df20161)

In [ ]:
table_df20161=table_df20161.drop(table_df20161.index[[0]],axis=1)

In [ ]:
result2016 = pd.concat([table_df2016, table_df20161], axis=1, sort=False)
result2016 = result2016.drop(result2016.index[[4,5]])

In [ ]:
result2016 = result2016.rename_axis(None)

In [ ]:
result2016['average'] = result2016.mean(numeric_only=True, axis=1)

In [ ]:
# table_df20161=table_df20161.insert(table_df20161.index[[0]],axis=0)
# table_df20161=table_df20161.insert(loc=1, column='state', value=new_col)
#MONICA----add a column for state?
result2016['state'] = result2016.str(numeric_only=False, axis=1)

In [ ]:
result2016

# Weather 2017

In [ ]:
browser.visit(url2017)
html=browser.html

In [ ]:
#read first table
df2017 = pd.read_html(url2017)[0]
#read second table
df20171 = pd.read_html(url2017)[1]
#convert tables to pandas dataframes
table_df2017=pd.DataFrame(df2017)
table_df20171=pd.DataFrame(df20171)

In [ ]:
table_df20161=table_df20161.drop(table_df20161.index[[0]],axis=1)

In [ ]:
result2016['state'] = result2016.str(numeric_only=False, axis=1)

In [ ]:
# df.columns = ['Component', 'Measurement']
html_table = df.to_html(index=False)
html_table= html_table.replace('\n', '')

In [ ]:
html_table